<ion-tabs>
  <ion-tab-bar slot="bottom" color="primary">
      <ion-tab-button tab="dashboard" [disabled]="!this._authService.activeUser">
          <ion-icon name="list" size="small"></ion-icon>
          <ion-label>Dashboard</ion-label>
      </ion-tab-button>
      <ion-tab-button tab="calendar" [disabled]="true">
          <ion-icon name="calendar" size="small"></ion-icon>
          <ion-label>Calendar</ion-label>
      </ion-tab-button>
      <ion-tab-button (click)="openNewTodoModal()" [disabled]="!this._authService.activeUser">
          <ion-icon name="add-circle" size="small"></ion-icon>
          <ion-label>New Todo</ion-label>
      </ion-tab-button>
      <ion-tab-button tab="group" [disabled]="!this._authService.activeUser">
          <ion-icon name="people" size="small"></ion-icon>
          <ion-label>Group</ion-label>
      </ion-tab-button>
      <ion-tab-button tab="settings" [disabled]="true">
          <ion-icon name="settings" size="small"></ion-icon>
          <ion-label>Settings</ion-label>
      </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>

<!-- <app-new-todo-modal [isOpen]="isNewTodoOpen" (closeAction)="isNewTodoOpen = false"></app-new-todo-modal> -->