:host{
    ion-item{
        border-bottom: 1px solid #f0f0f0;
        // height: 60px;
        // width: 100%;
        // display: flex;
        // justify-content: center;
        // align-items: space-between;
    }
    ion-row{
        position: relative;
        padding: 8px 0;
        height: 60px;
        display: flex;
        justify-content: center;
    }
    ion-avatar{
        width:25px;
        height: 25px;
        outline: 1px solid white;
    }
    .col-title{
        display: flex;
        flex-direction: column-reverse;
        padding: 2px 10px 3px;
        // overflow: hidden;
        // white-space: nowrap;
        // text-overflow: ellipsis;
    }
    .col-title ion-text{
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }
    .col-title ion-note{
        font-size: 11px;
    }
    .completed .text-title{
        text-decoration: line-through;
        color: #aaa;
    }
    .users{
        text-align: right;
        display: flex;
        flex-direction: row-reverse;
    }
    .users ion-avatar{
        margin-left: -10px;
    }
    .pointsTag{
        outline: 1px solid var(--ion-color-warning);
        outline-offset: -1px;
        margin: 0;
        padding: 0 10px;
    }
}