<ion-item
    [ngClass]="todo.completed ? 'completed' : ''"
>
    <ion-grid class="ion-no-padding">
        <ion-row class="ion-justify-content-start ion-align-items-start">
            <ion-col size="2" class="ion-padding ion-align-self-center">
                <ion-checkbox 
                    mode="ios" [checked]="todo.completed"
                ></ion-checkbox>
            </ion-col>
            <ion-col size="8" class="ion-align-self-center ion-align-items-center">
                <ion-text>
                    {{ this.todo.title }}
                </ion-text>
            </ion-col>
            <!-- <ion-col size="1">
                <ion-badge class="pointsTag" *ngIf="this.todo.points">{{ this.todo.points }} ⭑</ion-badge>
            </ion-col> -->
            <!-- <ion-col size="2" class="ion-justify-center ion-text-end">
                <ion-button color="danger" fill="default" (click)="onRemove()">
                    <ion-icon color="danger" size="small" slot="icon-only" name="trash"></ion-icon>
                </ion-button>
            </ion-col> -->
        </ion-row>
    </ion-grid>
</ion-item>