:host{
    ion-item{
        border-bottom: 1px solid #f0f0f0;
    }
    ion-row{
        position: relative;
        padding: 8px 0;
    }
    ion-avatar{
        width:25px;
        height: 25px;
        outline: 1px solid var(--ion-color-success);
    }
    .col-title{
        padding: 0 10px;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }
    .completed{
        text-decoration: line-through;
        color: #aaa;
    }
    .users{
        text-align: right;
    }
    .pointsTag{
        outline: 1px solid var(--ion-color-warning);
        outline-offset: -1px;
        margin: 0;
        padding: 0 10px;
    }
}