:host{
    ion-item{
        border-bottom: 1px solid #f0f0f0;
    }
    ion-row{
        position: relative;
        padding: 8px 0;
    }
    .col-title{
        width: calc(100% - 20px);
        margin: 0 10px;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }
    .completed{
        text-decoration: line-through;
    }
}