<ion-list 
    *ngIf="this.todoList$|async as todoList; else loading"
    class="ion-margin"
    inset="true"
    lines="full"
>
    <ion-item-group>
        <ion-item-divider mode="md">
            <ion-label>{{ listTitle }}</ion-label>
        </ion-item-divider>

        <div *ngIf="todoList.length > 0; else noTodos">   
            <ion-reorder-group [disabled]="true" (ionItemReorder)="handleReorder($any($event))">
                <app-todo-item
                    *ngFor="let todo of todoList|filterByUser:this.filterByUserId|groupBy|sortTodos:this.sortingType" [todo]="todo"
                    (click)="handleClickOnTodoItem($event, todo)"
                ></app-todo-item>
            </ion-reorder-group>
        </div>

        <ng-template #noTodos>
            <ion-note class="ion-text-center ion-margin-bottom ion-padding">
                <h4 style="font-weight:400;">
                    This list is empty...
                </h4>
            </ion-note>
        </ng-template>

    </ion-item-group>
</ion-list>

<ion-action-sheet
  [isOpen]="isActionSheetOpen"
  [header]="this.currentEditedTodo?.title"
  [buttons]="actionSheetButtons"
  (didDismiss)="toggleActionSheet(false)"
  (ionActionSheetDidDismiss)="handleItemAction($event)"
></ion-action-sheet>

<!-- Skeleton -->
<ng-template #loading>
    <ion-list
        class="ion-margin"
        inset="true"
        lines="full"
    >
        <ion-item-group>
            <ion-item-divider mode="md" style="padding-top:5px;padding-bottom:5px">
                <ion-skeleton-text animated="true" style="width:30%"></ion-skeleton-text>
            </ion-item-divider>

            <div>   
                <ion-reorder-group [disabled]="true">
                    <ion-item *ngFor="let i of [].constructor(3)">
                        <ion-grid class="ion-no-padding">
                            <ion-row class="ion-justify-content-space-between ion-align-item-center">
                                <ion-col size="1" class="ion-align-item-center">
                                    <ion-checkbox mode="ios"></ion-checkbox>
                                </ion-col>
                    
                                <ion-col [size]="8" class="ion-align-self-center col-title" style="padding-top:5px;padding-bottom:5px">
                                    <ion-skeleton-text animated="true" style="width:70%;height:15px;" class="text-title">
                                    </ion-skeleton-text>
                                </ion-col>
                    
                                <ion-col size="3" 
                                    class="ion-align-self-center ion-text-end ion-justify-content-end"
                                >
                                    <ion-skeleton-text 
                                        animated="true" 
                                        style="width:74%;height:30px;border-radius:15px;float:right;"
                                    >
                                    </ion-skeleton-text>
                                </ion-col>
                            </ion-row>
                        </ion-grid>
                    </ion-item>
                </ion-reorder-group>
            </div>
        </ion-item-group>
    </ion-list>
</ng-template>




