<ion-header>
  <ion-toolbar mode="md" color="primary">
    <ion-buttons slot="start">
      <ion-back-button 
        *ngIf="backUrl !== ''; else historyBackButton" 
        [defaultHref]="backUrl"
      ></ion-back-button>
      <ng-template #historyBackButton>
        <ion-back-button 
        ></ion-back-button>
      </ng-template>
    </ion-buttons>

    
    <ion-title>
      <ion-icon *ngIf="this.title === 'Cleen'" name="ribbon"></ion-icon>
      {{ title }}
    </ion-title>

    <ion-chip 
      *ngIf="this.user"
      (click)="navigateToProfile()"
      slot="end" class="avatarsStack" fill="clear"
    >
      <ion-label color="light">{{ this.user.displayName }}</ion-label>
      <ion-avatar >
        <img 
          [alt]="this.user.displayName+'\'s Avatar'" 
          [src]="this.user.photoURL" 
          loading="lazy"
        />
      </ion-avatar>
    </ion-chip>
  </ion-toolbar>
</ion-header>
