<app-page-header [title]="this.title"></app-page-header>
<ion-content color="light" class="ion-padding">

  <div *ngIf="this.activeGroup; else loading">
    <ion-card class="ion-padding">
      <ion-card-title class="ion-text-center">
        {{ this.activeGroup.displayName }}
      </ion-card-title>
      <ion-card-subtitle class="ion-text-center">
        {{ this.activeGroup.id }}
      </ion-card-subtitle>
      <ion-button disabled="true" expand="block">
        Join new group
        <!-- <ion-icon name="log-out-outline" slot="end"></ion-icon> -->
      </ion-button>
      <ion-button disabled="true" color="danger" expand="block">
        Leave group
        <ion-icon name="warning" slot="end"></ion-icon>
      </ion-button>
    </ion-card>

    <ion-list *ngIf="this.members" color="light">
      <app-member-item
        *ngFor="let member of this.members|sortMembers; first as isFirst"
        [member]="member"
        (click)="this.handleMemberClick(member)"
        [class.topMember]="isFirst"
      ></app-member-item>
    </ion-list>
  </div>

  <ng-template #loading>
    <ion-card class="ion-padding ion-text-center">
      <ion-spinner class="ion-justify-self-center"></ion-spinner>
    </ion-card>
  </ng-template>
</ion-content>