<app-page-header [title]="this.title" backUrl="/group"></app-page-header>
<ion-content color="light" class="ion-padding" *ngIf="this.user">
  <ion-list *ngIf="this.user">
    <app-member-item [member]="this.user" [isLink]="false"></app-member-item>
  </ion-list>
  
  <!-- <ion-button (click)="resetUserPoints()" color="warning" expand="block">
    Reset points
  </ion-button> -->

  <ion-button (click)="logout()" color="danger" expand="block">
    Logout
    <ion-icon name="log-out-outline" slot="end"></ion-icon>
  </ion-button>

  <app-todo-list 
    class="ion-no-padding"
    [listTitle]="'History'"
    [constraintIndex]="1"
    [filterByUserId]="this.user.uid"
  ></app-todo-list>
</ion-content>