<app-page-header [title]="this.title"></app-page-header>
<ion-content>

    <!-- <ion-item>
        <ion-label>
            Bienvenue
        </ion-label>
        <ion-item-group>
            <ion-button fill="clear" (click)="navigateToSearch()">
                <ion-icon name="search" slot="icon-only"></ion-icon>
            </ion-button>
            <ion-button fill="clear">
                <ion-icon name="filter" slot="icon-only"></ion-icon>
            </ion-button>
        </ion-item-group>
    </ion-item> -->
    
    <app-todo-list></app-todo-list>

    <!-- <ion-fab 
        slot="fixed" vertical="bottom" horizontal="end"
        class="ion-padding"
        >
        <ion-fab-button id="open-modal">
            <ion-icon name="add"></ion-icon>
        </ion-fab-button>
    </ion-fab> -->

    <app-new-todo-modal></app-new-todo-modal>

</ion-content>

